<section class="add__section">
	<div class="add__content">
	<h1 class="add__title">Добавлення поїздки</h1>
	<form class="add__form" action="">
		
		<div class="form__item">
			<label class="form__label" for="">From</label>
			<input class="form__input" placeholder="From" type="text">
		</div>
		<div class="form__item">
			<label class="form__label" for="">To</label>
			<input class="form__input" placeholder="To" type="text">
		</div>
		<div class="form__item">
			<label class="form__label" for="">Train</label>
			<input class="form__input" placeholder="Train" type="text">
		</div>
		<div class="form__item">
			<label class="form__label" for="">Amount</label>
			<input class="form__input" placeholder="Amount" type="text">
		</div>
		<div class="form__item">
			<label class="form__label" for="">Сarriage</label>
			<input class="form__input" placeholder="Carriage" type="text">
		</div>
		<div class="form__item">
			<label class="form__label" for="">Сarriage</label>
			<input class="form__input" placeholder="Carriage" type="text">
		</div>
		<div class="form__item">
			<label class="form__label" for="">Date</label>
			<input class="form__input" placeholder="Carriage" type="date">
		</div>
	</form>
	<button class="add__button">Добавти</button>
</div>
</section>
