<div class="main-block">
    <div class="content">
        <div class="txt1">
            <span class="txt">Make an order</span>
         </div>
        <div class="info">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Last name">
        </div>
        <div class="info">
            <input type="text" placeholder="Passport">
            <div class="number">
                <small>Number of seats</small>
                <input type="number" value="1" min="1" oninput="this.value = Math.max(this.value, 1)">
            </div>
          
        </div>
        <div class="info">
            <div>
                <span>Total</span>
            </div>
            <div>
                <span>340$</span>
            </div>
        </div>
        <button>Click</button>
    </div>
</div>