<section class="tickets__section">    
    <div class="tickets__container">
		<h1 class="tickets__title">Tickets are available</h1>
     <div class="tickets__items">
      <div class="tickets__item">
			<div class="item__content">
          <div class="item__id">
              <span class="item__title">Train id:</span>
              <h1 class="item__text">245</h1>
          </div>
          <div class="item__info">
              <span class="item__title">From:</span>
              <h1 class="item__place">Lviv</h1>
              <h3 class="item__hours">12.00</h3>
              <h3 class="item__data">24.20.22</h3>
          </div>
          <div class="item__info">
              <span class="item__title">To:</span>
              <h1 class="item__place">Lviv</h1>
              <h3 class="item__hours">12.00</h3>
              <h3 class="item__data">24.20.22</h3>
          </div>
          <div class="item__info">
              <span class="item__title">Price:</span>
              <h2 class="item__price">234</h2>
          </div>
      </div>
		<div>
			<button class="item__button" routerLink="/ticket-order" >View details</button>
	  </div>
	</div>
	<div class="tickets__item">
		<div class="item__content">
		 <div class="item__id">
			  <span class="item__title">Train id:</span>
			  <h1 class="item__text">245</h1>
		 </div>
		 <div class="item__info">
			  <span class="item__title">From:</span>
			  <h1 class="item__place">Lviv</h1>
			  <h3 class="item__hours">12.00</h3>
			  <h3 class="item__data">24.20.22</h3>
		 </div>
		 <div class="item__info">
			  <span class="item__title">To:</span>
			  <h1 class="item__place">Lviv</h1>
			  <h3 class="item__hours">12.00</h3>
			  <h3 class="item__data">24.20.22</h3>
		 </div>
		 <div class="item__info">
			  <span class="item__title">Price:</span>
			  <h2 class="item__price">234</h2>
		 </div>
	</div>
	<div>
		<button class="item__button" routerLink="/ticket-order" >View details</button>
  </div>
</div>
  </div>
</div>
</section> 
  