
<section class="ticket__section">
	<div class="ticket__container">
	<img class="ticket__img" src="assets/img/details compo.jpg" alt="">
    <div class="ticket__content">
		<div class="ticket__left">
            <h1 class="ticket__title">Ticket information</h1>
        <div class="ticket__info">
            <div class="ticket__items">
					<h2 class="item__title">From</h2>
                <div class="ticket__item">
                        <p class="item__id">Train Id:SJAH</p>
                        <p class="item__city">City:Lviv</p>
                        <p class="item__track">Track:4</p>
                        <p class="item__track">Time:12.45</p>
                        <p class="item__track">Date:13.01.11</p>
                </div>
					 <h2 class="item__title">To</h2>
                <div class="ticket__item">
                        <p class="item__id">Train Id:SJAH</p>
                        <p class="item__city">City:Lviv</p>
                        <p class="item__track">Track:4</p>
                        <p class="item__track">Time:12.45</p>
                        <p class="item__track">Date:13.01.11</p>
                </div>
					</div>
            <div class="tickets__price">
                <span>Price:120 per seat</span>
            </div>
        </div>
    </div>
	<div class="ticket__right">
    <app-order class="ticket__two__component"></app-order>
	</div>
</div>
	</div>
</section>