<div class="main-block">
    <div class="order-form">
        <div class="txt1">
            <span class="txt">Ticket information</span>
        </div>
        <div class="info">
            <div class="about">
                <span>From:</span>
            </div>
            <div class="departure">
               
                <div>
                    <ul>
                        <li>Train Id:</li>
                        <li>City:</li>
                        <li>Track:</li>
                        <li>Time:</li>
                        <li>Date:</li>
                    </ul>
                </div>
                
                <div>
                    <ul>
                        <li>SJAH</li>
                        <li>Lviv</li>
                        <li>4</li>
                        <li>12.45</li>
                        <li>13.01.11</li>
                    </ul>
                </div>
            </div>
            <div class="about">
                <span>To:</span>
            </div>
            <div class="arrival">
               
                <div>
                    <ul>
                        <li>Train Id:</li>
                        <li>City:</li>
                        <li>Track:</li>
                        <li>Time:</li>
                        <li>Date:</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>SJAH</li>
                        <li>Lviv</li>
                        <li>4</li>
                        <li>12.45</li>
                        <li>13.01.11</li>
                    </ul>
                </div>
            </div>
            <div class="about">
                <span>Price:</span>
            </div>
            <div class="price">
                <ul>
                    <li>120 per seat</li>
                </ul>
            </div>
        </div>
        <!-- <button>Order</button> -->
    </div>
    <app-order></app-order>
    <!-- <div class="img">
        <img src="../../assets/ticket.webp" alt="">
    </div> -->
</div>