<section class="home__section">
	<img class="home__img" src="assets/img/CPK_Koncepcja-7-1920x1281.jpg" alt="">
    <div class="home__user">
        <div class="home__user__content">
            <span>Welcome</span>
            <span>Name Lastname</span>
            <span>emagmail.com</span>
		  </div>
		  <img routerLink="/
		  " class="home__exit" src="assets/img/exit/free-icon-exit-1286969 (1).png" alt="">
		</div>
    <div class="home__active__tickets">
        <div class="home__items">
			<div class="home__item">
				<div class="home__content__one">
				<span class="item__id">Train id: 245</span>
				<div class="item__from">
					<span class="item__title">From:</span>
					<h1 class="place">Lviv</h1>
					<h3 class="hours">12.00</h3>
					<h3 class="data">24.20.22</h3>
			  </div>
			  <div class="item__to">
				<span class="item__title">To:</span>
				<h1 class="place">Lviv</h1>
				<h3 class="hours">12.00</h3>
				<h3 class="data">24.20.22</h3>
		  </div>
		  <div class="item__price">
			<span>Price: 234</span>
	  </div>
	</div>
	<div  class="home__content__two">
		<div class="item__passport">
			<span>Passport: 322btbdfb</span>
	  </div>
	  <div class="item__seat">
			<span>Seat: 123a</span>
	  </div>
	</div>
    </div>
	 <div class="home__item">
		<div class="home__content__one">
		<span class="item__id">Train id: 245</span>
		<div class="item__from">
			<span class="item__title">From:</span>
			<h1 class="place">Lviv</h1>
			<h3 class="hours">12.00</h3>
			<h3 class="data">24.20.22</h3>
	  </div>
	  <div class="item__to">
		<span class="item__title">To:</span>
		<h1 class="place">Lviv</h1>
		<h3 class="hours">12.00</h3>
		<h3 class="data">24.20.22</h3>
  </div>
  <div class="item__price">
	<span>Price: 234</span>
</div>
</div>
<div  class="home__content__two">
<div class="item__passport">
	<span>Passport: 322btbdfb</span>
</div>
<div class="item__seat">
	<span>Seat: 123a</span>
</div>
</div>
</div>
</div>